@import "../../scss/_global.scss";
@import "../../scss/_color.scss";

.list__container {
  color: $wild-Sand;
  display: flex;
  flex-direction: column;
  gap: 15px;

  .list__totalprice{
    color: $main-color;
  }
}
