@import '../../scss/_global.scss';
@import '../../scss/_color.scss';

$font-stack:'Roboto', sans-serif;
$backgroud:#1b1b29;
$font-color:white;
$font-weight:400;
$font-weight-hard:800;
$font-transparency:rgba(232, 229, 229, 0.63);
$font-size:10px;

@mixin size($wid,$hei,$pad,$marg) {
  width: $wid;
  height: $hei;
  padding: $pad;
  margin: $marg;
}

@mixin flex($dis,$flex,$just){
  display: $dis;
  flex-direction: $flex;
  justify-content: $just;
}

@mixin borders($boR,$borS,$borC){
  border-radius: $boR;
  border-style: $borS;
  border-color: $borC;
}

*{
  box-sizing: border-box;
  @include size(none,none,0,0);
}

.cardTopCollection{
  border-radius: 11px;
  max-width: 90%;
  justify-content: center;
  padding: 19px;
  padding-bottom: 5px;
  background-color: $backgroud;
  font-family: $font-stack;
  @include flex(flex,column,center);
  margin: auto;
}

.cardTopCollection__image{
  align-items: center;
  width: 100%;
  border-radius: 5px;
  @include flex(flex,none,center);
}

.cardTopCollection__imageProfile{
  width: 21%;
  position: absolute;
  left: 38%;
  //top: 43%;
  @include borders(68px,solid ,#474765 );
}

.cardTopCollection__smallImage{
  @include flex(flex,none,flex-start);
  padding-top: 5px;
}

.cardTopCollection__imageOne{
  @include size(34%,none,2px,0);
  border-radius: 5px;
}

.cardTopCollection__imageTwo{
  @include size(34%,none,2px,0);
  border-radius: 5px;
}

.cardTopCollection__imageThree{
  @include size(33%,none,2px,0);
  border-radius: 5px;
}

.cardTopCollection__footerText{
  @include size(100%,none,none,0);
  @include flex(flex,none,space-between);
  font-size: $font-size;
  color: $font-color;
  padding-top: 8px;
}

.cardTopCollection__nameImage{
  font-size: 15px;
}

.cardTopCollection__items{
  background-color:#474765;
  border: none;
  color: $font-color;
  font-size: 12px;
  padding: 5px;
}

$breakpoint-tablet: 1200px;
@media(min-width:$breakpoint-tablet){
  .cardTopCollection{
    width: 22%;
    margin-top: 50px;
    margin-left: 2px;
    margin-right: 17px;
  }

  .cardTopCollection__image{
    width: 100%;
    height: 200px;
  }

  .cardTopCollection__imageOne{
    width: 35%;
    height: 50px;
  }

  .cardTopCollection__imageTwo{
    width: 35%;
    height: 50px;
  }

  .cardTopCollection__imageThree{
    width: 32%;
    height: 50px;
  }

  .cardTopCollection__imageProfile{
      display: flex;
      flex-direction: row;
      width: 5%;
      left: 10%;
      top: 10%;
  }

}
