@import "../../scss/_color.scss";
@import "../../scss/_color.scss";

.checkout__container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 50px;
}

.elements__container {
  display: flex;
  flex-direction: column;
  background-color: $main-background;
  border: 1.7px solid $border-color-components;
  border-radius: 7px;
  padding: 20px;
  gap: 20px;
  width: 700px;
  height: fit-content;
}
