@import "../../scss/_global.scss";
@import "../../scss/_color.scss";

.navbar {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;

  .navbar__logo {
    height: 40px;
    margin: 10px;
  }

  .menu {
    display: none;
  }

  .menu__list {
    list-style-type: none;
  }

  .menu__link {
    color: $text-silver;
    font-weight: 500;
    text-decoration: none;
  }

  .menu__input {
    display: none;
  }

  .buttons__container {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .menu__button {
    background-color: $main-background;
    width: 40px;
    height: 40px;
    border: solid $text-silver;
    border-radius: 30px;
    border-width: 1px;
    margin: 0px 3px 0px 3px;
  }

  .menu__button--color {
    width: max-content;
    height: 40px;
    padding: 10px;
    margin: 0px 3px 0px 3px;
    color: $main-cards;
    font-weight: 700;
    font-size: 14px;
    border-radius: 7px;
  }
}

@media screen and (min-width: 1440px) {
  .navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 20px 70px 20px 70px;
    gap: 10px;

    .navbar__logo {
      height: 30px;
      margin: 0;
    }

    .menu {
      display: inline;
    }

    .menu__list {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 25px;
      height: 30px;
    }

    .menu__item{
      font-size: 15px;
    }

    .menu__form {
      display: flex;
      border: solid $text-silver;
      border-radius: 7px;
      border-width: 1px;
      height: 40px;
      align-items: center;
      margin: 0px 3px 0px 3px;
    }

    .menu__input {
      display: inline-block;
      border: none;
      height: 30px;
      background-color: $main-background;
    }

    .button__search {
      border: none;
      height: 30px;
    }

    .buttons__container {
      display: flex;
      flex-direction: row;
      justify-content: center;
    }

    .button__bars {
      display: none;
    }
  }
}

