@import "../../scss/_global.scss";
@import "../../scss/_color.scss";

.navbar__container {
    display: block;
    text-align: center;

  .navbar__logo {
    height: 40px;
    margin: 10px;
  }

  .navbar__active {
    display: flex;
    flex-direction: column;
    position: fixed;
    align-items: flex-start;
    text-align: left;
    height: 100%;
    width: 85%;
    top: 0px;
    background-color: $accent;
    gap: 20px;
    padding: 20px;
    transition: 0.3s ease-in-out;
  }

  .navbar {
    display: none;
  }

  .logo__aside {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }

  .menu__list {
    list-style-type: none;
  }

  .menu__item {
    margin-bottom: 15px;
  }

  .menu__link {
    color: $text-silver;
    font-weight: 500;
    text-decoration: none;
    transition: 0.3s ease-in-out;

    &-icon {
      color: #ACACAC;
    }

    &-items {
      color: aqua;
      position: absolute;
    }
  }

  .menu__link:hover {
    color: $main-cards;
  }

  .menu__input {
    display: none;
    border: none;
  }

  .userRegistered {

    &-btn {
      width: 180px;
      height: 40px;
      padding: 0 25px;
      margin: 0px 3px 0px 3px;
      color: $main-cards;
      background-color: $accent;
      border: none;
      font-weight: 700;
      font-size: 14px;
      border-radius: 7px;
      cursor: pointer;
    }

    &-btn:hover {
      background-color: $main-color;
    }
  }

  .buttons__container {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .menu__button {
    background-color: $main-background;
    width: 40px;
    height: 40px;
    border: solid $border-color-components;
    border-radius: 30px;
    border-width: 1px;
    margin: 0px 3px 0px 3px;
  }

  .button__close {
    border: none;
  }

  .menu__button--color {
    width: max-content;
    height: 40px;
    padding: 0 25px;
    margin: 0px 3px 0px 3px;
    color: $main-cards;
    background-color: $accent;
    border: none;
    font-weight: 700;
    font-size: 14px;
    border-radius: 7px;
    cursor: pointer;
  }

  .menu__button--color:hover {
    background-color: $main-color;
  }

}

@media screen and (min-width: 1200px) {
  .navbar__container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
    padding: 20px 70px 20px 70px;
    gap: 10px;
    border-bottom: 1px solid $border-color-components;

    .navbar{
      display: flex;
      flex-direction: row;
      position: relative;
      height: 40px;
      justify-content: space-around;
      background-color: transparent;
      gap: 20px;
      padding: 0;
      width: auto;
    }

    .navbar__logo {
      height: 40px;
      margin: 0;
    }

    .logo__link {
      display: none;
    }

    .logo__aside {
      width: auto;
      border-right: 1px solid $border-color-components;
    }

    .logo__link--hide {
      display: inline;
      margin-right: 20px;
    }

    .button__close {
      display: none;
    }

    .menu {
      display: inline;
    }

    .menu__list {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 25px;
      height: 40px;
    }

    .menu__item{
      font-size: 15px;
      margin: 0;
    }

    .menu__form {
      display: flex;
      border: solid $border-color-components;
      border-radius: 7px;
      border-width: 1px;
      height: 40px;
      align-items: center;
      margin: 0px 10px 0px 3px;
    }

    .menu__input {
      display: inline-block;
      border: none;
      height: 30px;
      background-color: $main-background;
      padding: 10px;
      color: $text-silver;
    }

    .menu__input:focus {
      outline: none;
    }

    .button__search {
      border: none;
      height: 30px;
      background-color: transparent;
    }

    .buttons__container {
      display: flex;
      flex-direction: row;
      justify-content: center;
    }

    .menu__button {
      margin: 0px 5px;
    }

    .menu__button--color {
      margin: 0px 5px;
    }

    .button__bars {
      display: none;
    }
  }
}

