@import "../../scss/_global.scss";
@import "../../scss/_color.scss";

.Item__container {
  width: 95%;
  display: flex;
  flex-direction: row;
  padding: 8px;
  color: $text-silver;
  background-color: $accent;
  border-radius: 7px;
  gap: 10px;
  margin: 10px;
  justify-content: space-between;

  .Item__subcontainer {
    display: flex;
    flex-direction: row;
    gap: 10px;
  }

  .item__image {
    border-radius: 7px;
    width: 60px;
    height: 60px;
    object-fit: cover;
  }

  .item__button {
    background-color: $accent;
    width: 40px;
    height: 40px;
    border: solid $border-color-components;
    border-radius: 30px;
    border-width: 1px;
    margin: 0px 3px 0px 3px;
    align-self: center;
  }
}
