@import '../../scss/_global.scss';
@import '../../scss/_color.scss';

.containerNotAuthorized{
  color: white;
  height: 527px;
  display: flex;
  flex-direction: column;
  padding: 60px;
  text-align: initial;
  font-size: 24px;
}

.containerNotAuthorized__img{
  display: flex;
  justify-content: center;
  padding-top: 19px;
}
