@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
$font-stack:'Roboto', sans-serif;
$backgroud:#1b1b29;
$font-color:white;
$font-weight:100;
$font-weight-hard:800;
$font-transparency:rgba(232, 229, 229, 0.63);
$font-size:4px;

.cardFooter__lastfooter{
  display: flex;
  flex-direction: column;
  // justify-content: center;
  // align-items: center;
  background-color: $backgroud;
  color:$font-transparency;
  font-family: $font-stack;
  top: 35rem;
  position: relative;
  width: 100%;
  font-weight: $font-weight;
  font-size: $font-size;
}

.cardFooter__inc{
  font-size: $font-size;
  margin: 0;
  padding-left: 25px;
  display: flex;
}

.cardFooter__policy{
  font-size: $font-size;
  margin: 0;
  display: flex;
  justify-content: flex-start;
}

.cardFooter__socialMedia{
  display: flex;
  width: 10%;
  height: 10px;
}

.cardFooter__facebook{
  width: 10px;
}
