@import '../../scss/_global.scss';
@import '../../scss/_color.scss';

$backgroud:#1b1b29;
$font-color:white;
$font-weight:400;
$font-weight-hard:800;
$font-transparency:rgba(232, 229, 229, 0.63);
$font-size:12px;

@mixin flex($dis,$direction,$just,$alig) {
  display: $dis;
  flex-direction: $direction;
  justify-content: $just;
  align-items: $alig;
}

@mixin size($wid,$hei) {
  width: $wid;
  height: $hei;
}

@mixin margin($mar,$pad){
  margin:$mar;
  padding: $pad;
}

*{
  margin: 0;
}
.cardFooter{
  @include flex(flex,column,center,center);
  font-size: $font-size;
  position: relative;
  padding: 10px;
  background-color: $backgroud;
  color: $font-color;
  height: 400px;

  &-section {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: flex-start;
  }
}

.cardFooter__brand{
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  line-height: 18px;
}

.cardFooter__brandName{
  padding-top: 10px;

}

.cardFooter__text{
  @include size(170px,none);
  // text-align: start;
  font-weight: $font-weight;
  color:$font-transparency
}

.cardFooter__update{
  @include flex(flex,column,none,none);
}

.cardFooter__email{
  font-weight: $font-weight;
  color:$font-transparency
}

.cardFooter__titlebrand{
  text-align: start;
  line-height: 29px;
}

.cardFooter__inputButton{
  @include flex(flex,row,none,none);
  @include size(50%,none);
  margin: 20px 0;
}

.cardFooter__username{
  @include size(105px, 29px);
  background-color:#18182e;
  border-style: solid;
  border-color: #18182e;
}

.cardFooter__subscribe{
  @include size(260px,14px);
  font-size: 8px;
  text-align: center;
  background-color: #2d2d4a;
  border:none;
  border-radius: 2px;
  font-weight: $font-weight;
  color:$font-color;
}

.cardFooter__Nuron{
  @include flex(flex,column,flex-start,flex-start);
  @include size(100%,none);
  line-height: 22px;
  align-content: flex-start;
  padding-bottom: 5px;
}

.cardFooter__explore{
  color:$font-transparency;
}

.cardFooter__token{
  color:$font-transparency;
}

.cardFooter__time{
  color:$font-transparency;
}

.cardFooter__checking{
  color:$font-transparency;
}

.cardFooter__system{
  color:$font-transparency;
}

.cardFooter__log{
  color:$font-transparency;
}

.cardFooter__autoSince{
  color:$font-transparency;
}

.cardFooter__information{
  @include flex(flex,column,flex-start,flex-start);
  @include size(100%,none);
  @include margin(none,0px );
  line-height: 22px;
  padding-bottom: 5px;
}

.cardFooter__market{
  color:$font-transparency;
}

.cardFooter__readytoken{
  color:$font-transparency;
}

.cardFooter__option{
  color:$font-transparency;
}

.cardFooter__product{
  color:$font-transparency;
}

.cardFooter__grid{
  color:$font-transparency;
}

.cardFooter__about{
  color:$font-transparency;
}

.cardFooter__bug{
  color:$font-transparency;
}

.cardFooter__soldout{
    @include flex(flex,column,flex-start,flex-start);
    @include size(100%,none);
    align-content: flex-start;
}


.cardFooter__product1{
  display: flex;
  flex-direction: column;
}

.cardFooter__image1{
  width: 10px;
  border-radius: 26px;
  display: flex;
  justify-content: flex-start;
  height: 10px;
  top: 5px;
}

.cardFooter__nameNFT{
  @include margin(0,0 );
  padding-bottom: 13px;
}

.cardFooter__characteristic{
  color:$font-transparency;
  @include margin(0,0);
  line-height: 10px;
}

.cardFooter__price{
  @include margin(0,8px);
  color:rgb(6, 145, 220);
  $font-weight: $font-weight-hard;
}

.cardFooter__lastfooter{
  font-size: 7px;
  padding-top: 15px;
  padding-bottom: 15px;
  border-top: 1px solid rgb(56, 57, 72);
  margin: 20px 0;
}

.cardFooter__inc{
  display: flex;
  justify-content: center;
}

.cardFooter__policy{
  display: flex;
  justify-content: center;
}

.cardFooter__socialMedia{
  width: 30%;
  display: flex;
  justify-content: flex-end;
  margin-right: 30px;

  &_box {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $border-color-components;
    border-radius: 50%;
    margin: 0 5px;

    &_icon {
      font-size: 15px;
    }
  }
}

$breakpoint-tablet: 1200px;
@media (min-width: $breakpoint-tablet) {
  .cardFooter{
    @include flex(flex,row,center,flex-start);
    font-size: 16px;
    background-color: $backgroud;
  }

  .cardFooter__image{
    width: 80px;
    height: 44px;
    padding-top: 20px;
  }

  .cardFooter__brandName {
    padding-top: 23px;
}

  .cardFooter__text{
    width: 60%;
    margin: 20px 0;
  }

  .cardFooter__titlebrand{
    font-size: 16px;
    line-height: 36px;
  }

  .cardFooter__titlebrand{
    line-height: 50px;
  }

  .cardFooter__username{
    width: 350px;
    height: 45px;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    padding-left: 10px;
  }

  .cardFooter__subscribe{
    width: 350px;
    height: 45px;
    font-size: 10px;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
  }
  .cardFooter__Nuron{
    line-height: 30px;
    padding-top: 28px;
  }

  .cardFooter__information{
    line-height: 31px;
    padding-top: 28px;
  }

  .cardFooter__soldout{
    padding-top: 28px;
  }

  .cardFooter__sold{
    width: 195px;
    padding-bottom: 18px;
  }

  .cardFooter__image1{
    width: 26px;
    height: 26px;
  }

  .cardFooter__lastfooter{
    display: flex;
    flex-direction: row;
    background-color: #1b1b29;
    color: rgba(232, 229, 229, 0.63);
    width: 100%;
    font-weight: 400;
    font-size: 13px;
    position: absolute;
    top: 300px;
    align-items: center;
    justify-content: space-between;
  }

  .cardFooter__facebook{
    padding: 4px;

  }
}
