@import "../../scss/_global.scss";
@import "../../scss/_color.scss";

.darkBackground {
  background-color: rgba(0, 0, 0, 0.2);
  width: 100vw;
  height: 100vh;
  z-index: 0;
  top: 0;
  position: absolute;
}

.modal__centered {
  position: fixed;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.modal__container {
  width: 250px;
  height: auto;
  background: $accent;
  color: $wild-Sand;
  z-index: 10;
  border-radius: 16px;
  box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.04);
}

.modal__header {
  height: 50px;
  background: $accent;
  overflow: hidden;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
}

.modal__heading {
  margin: 0;
  padding: 10px;
  color: $wild-Sand;
  font-weight: 500;
  font-size: 18px;
  text-align: center;
}

.modal__content {
  padding: 10px;
  font-size: 14px;
  color: $wild-Sand;
  text-align: center;
}

.modal__actions {
  position: absolute;
  bottom: 2px;
  margin-bottom: 10px;
  width: 100%;
}

.actions__container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.modal__closeButton {
  cursor: pointer;
  font-weight: 500;
  padding: 4px 8px;
  border-radius: 8px;
  border: none;
  font-size: 18px;
  color: $text-silver;
  background: $button-color-hover;
  transition: all 0.25s ease;
  box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.06);
  position: absolute;
  right: 0;
  top: 0;
  align-self: flex-end;
  margin-top: -7px;
  margin-right: -7px;
}

.modal__closeButton:hover {
  box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.04);
  transform: translate(-4px, 4px);
}

.confirm__button {
  margin-top: 10px;
  cursor: pointer;
  font-weight: 500;
  padding: 11px 28px;
  border-radius: 12px;
  font-size: 0.8rem;
  border: none;
  color: $wild-Sand;
  background: $main-color;
  transition: all 0.25s ease;
}

.confirm__button:hover {
  box-shadow: 0 10px 20px -10px rgba(255, 62, 78, 0.6);
  transform: translateY(-5px);
  background: #ff3e4e;
}

.cancel__button {
  margin-top: 10px;
  cursor: pointer;
  font-weight: 500;
  padding: 11px 28px;
  border-radius: 12px;
  font-size: 0.8rem;
  border: none;
  color: #2c3e50;
  background: #fcfcfc;
  transition: all 0.25s ease;
}

.cancel__button:hover {
  box-shadow: none;
  transform: none;
  background: whitesmoke;
}
