@import "../../scss/_global.scss";
@import "../../scss/_color.scss";

.card {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  background-color: $accent;
  text-align: left;
  justify-content: center;
  padding: 8px;
  width: 370px;
  color: $text-silver;
}

.card__image {
  border-radius: 10px;
  width: 100%;
  height: auto;
}

.card__body {
  margin: 15px 15px 20px 15px;
}

.card__biders {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.avatar__container {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
}

.avatar__text {
  margin: 10px;
  font-weight: 500;
  width: max-content;
}

.card__avatar {
  width: 40px;
  height: 40px;
  border: solid $text-silver;
  border-radius: 30px;
  border-width: 2px;
}

.card__button {
  background-color: $accent;
  border: none;
  color: $text-silver;
  padding: 5px;
  text-decoration: none;
  font-size: 30px;
  text-align: end;
  margin: 0;
}

.card__info {
  margin-top: 15px;
}

.card__title--color {
  color: $main-cards;
  margin-bottom: 5px;
  font-weight: 500;
}

.card__stats {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.card__subtitle {
  font-weight: 400;
}

.card__like {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 15px 10px 0px 0px;
}

.card__totalikes {
  margin-left: 4px;
  font-weight: 500;
  width: fit-content;
}

.nft__price {
  color: $main-color;
  font-weight: 500;
  margin-top: 15px;
}

@media screen and (min-width: 750px) {

.card {
    width: 300px;
  }
}
