@import "../../scss/_global.scss";
@import "../../scss/_color.scss";

.card {
  width: 210px;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  background-color: $accent;
  text-align: left;
  justify-content: center;
  padding: 8px;
  color: $text-silver;

  .card__image {
    border-radius: 10px;
    width: 100%;
    height: 194px;
    object-fit: cover;
  }

  .card__body {
    margin: 10px;
  }

  .card__biders {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }

  .avatar__container {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    margin-left: 15px;

    .card__avatar {
      width: 35px;
      height: 35px;
      border: solid $border-color-components;
      border-radius: 30px;
      border-width: 2px;
      margin-left: -20px;
    }
  }

  .avatar__text {
    margin: 10px;
    font-weight: 300;
    width: max-content;
  }

  .card__button {
    background-color: $accent;
    border: none;
    color: $text-silver;
    padding: 5px;
    text-decoration: none;
    font-size: 20px;
    text-align: end;
    margin: 0;
  }

  .card__info {
    margin-top: 15px;
  }

  .card__title--color {
    color: $main-cards;
    margin-bottom: 5px;
    font-size: 16px;
    font-weight: 500;
  }

  .card__stats {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }

  .card__subtitle {
    font-size: 12px;
    font-weight: 300;
  }

  .card__like {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 15px 10px 0px 0px;

    &_icon {
      cursor: pointer;
    }

    &_icon:hover {
      color: red;
    }
  }

  .card__totalikes {
    margin-left: 4px;
    font-weight: 500;
    width: fit-content;
  }

  .nft__price {
    color: $main-color;
    font-size: 12px;
    font-weight: 300;
    margin-top: 15px;
  }
}
