@import "../../scss/_global.scss";
@import "../../scss/_color.scss";

@media screen and (min-width: 750px) {

  .nftList {

    &_map {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      gap: 32px;
    }
  }
}
