@import "../../scss/_global.scss";
@import "../../scss/_color.scss";

@media screen and (min-width: 750px) {

  .products__container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    gap: 20px;
  }
}
