$main-color: #00A3FF;
$main-background: #13131D;
$accent: #212E48;
$main-cards: #FFFFFF;
$wild-Sand: #F6F6F6;
$text-silver: #ACACAC;
$text-black: #000000;
$button-color-hover: #00a2ff27;

//Components
$border-color-components: rgb(56, 57, 72);
$border-color: rgb(34, 34, 41);
$background-color-input: rgb(36, 36, 54);
