@import './color.scss';
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

//Components
//@import '../components/Auth/loginForm/styles.scss';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  height: 100vh;
}

body {
  background-color: $main-background;
}
