.bigbox{
  min-height: 900px;
  color: white;
  margin: 100px 0;
}

@media(min-width:1200px){
  .bigbox{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;

    &-list {
      width: 1180px;
    }
  }
}
