@import '../../scss/_color.scss';

.recentNft {

  &-content {

    &_card {
      display: flex;
      flex-direction: row;
      align-content: flex-start;

      &_avatar {
        margin: 7px 10px 7px 0;

        &-img {
          width: 60px;
          height: 60px;
          border-radius: 50%;
          object-fit: cover;
        }
      }

      &_info {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        line-height: 20px;

        &_title {
          font-size: 16px;
        }

        &_bid {
          font-size: 12px;
        }

        &_price {
          font-size: 14px;
          color: $main-color;
        }
      }
    }
  }
}
